* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image:url(../shop-project/images/patt.png) ;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;

}
.logo {
    margin-top: 10px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu li::after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3 {
    width: 25%;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
.menu > li {
    position: relative;
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu > li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu > li > a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
}
.menu > li > a:hover  {
    background-color: #2c71b8;
    color: white;  
}    
 
ul .submenu {
    position: absolute;
    z-index: 10;
    left: -1px;
    list-style-type: none;   
    display: none;
    overflow: auto;
    
}
ul .submenu > li {
    background-color: #2c71b8;
    width: 286px;
    height: 40px;
    font-size: 21px;
    line-height: 40px;
}
ul .submenu > li > a {
    padding-top: 1px;
    padding-left: 25px;
    display: block;
    text-decoration: none;
    color: #fff;   
}
 #products:hover .submenu {
    display: block;
}
ul .submenu > li > a:hover {
    background-color: white;
    color: #2c71b8;
}

#ext {
    height: 60px;
    
}
#ext1 {
    height: 60px;
    padding-top: 20px;
    line-height: 40px;
    
}

.input {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #2c71b8;
    
}
input::-webkit-input-placeholder { 
    color: rgb(44, 113, 184)}

.search {
    margin-top: 4px;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    font-size: 21px;
    border: none;
    background-color: transparent;
}
.button {
    float: right;
    margin: 4px 4px;
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    background-image: url(images/lens.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.basket {
    position: relative;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: white;
    margin-left: 4px;
    background-image: url(images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
}
.four {
    position: absolute;
    top: 24px;
    height: 15px;
    width: 15px;
    background-color: #2c71b8;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    
}
